body {
  font-family: 'Arial', sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}

.App {
  max-width: 1200px;
  margin: 0 auto;
}

header {
  background-color: #4CAF50;
  padding: 20px;
}

input,
button {
  font-size: 16px;
}

input:focus,
button:focus {
  outline: none;
}
